.calendar {
	cursor: pointer;
	.visible + .calendar__body {
		transition: all 0.3s ease;
		opacity: 1;
		z-index: 11;
		display: block;
	}
	&__button {
		appearance: none;
		background-color: transparent;
		border: none;
		font-size: 16px;
		cursor: pointer;
		date {
			display: inline-block;
			width: 31px;
			height: 25px;
			vertical-align: middle;
			background-image: url(../img/calendar.svg);
			background-size: cover;
			font-family: $circle;
			font-size: 10px;
			padding-top: 8px;
			margin-right: 11px;
		}
	}
	&__body {
		box-shadow: inset 0 30px 35px -20px rgba(32, 22, 0, .2);
		background-color: #ff4f4f;
		color: #fff;
		position: absolute;
		top: 119px;
		left: 0;
		max-width: 1311px;
		z-index: 100;
		padding: 48px 57px;
		width: 100%;
		max-height: 1800px;
		opacity: 0;
		z-index: -1;
		display: none;
		a {
			color: #fff;
		}
	}
	&__day {
		margin-top: 45px;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			.calendar__item:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__date {
		display: block;
		font-size: 36px;
		line-height: 52px;
		font-weight: 700;
		margin-bottom: 75px;
		span {
			font-weight: 300;
		}
	}
	&__item {
		width: 100%;
		display: inline-block;
		margin-bottom: 46px;
		padding-top: 0;
	}
	&__img {
		width: 120px;
		height: 120px;
		float: left;
		display: block;
		border-radius: 50%;
		margin-right: 50px;
	}
	&__place {
		display: block;
		font-size: 24px;
		line-height: 52px;
		font-weight: 300;
	}
	&__name {
		display: block;
		font-weight: 700;
		font-size: 42px;
		line-height: 52px;
		text-decoration: underline;
	}
	&__form {
		display: inline-block;
		vertical-align: middle;
		input {
			display: none;
		}
		label {
			background: #fff;
			width: 38px;
			height: 10px;
			display: inline-block;
			vertical-align: sub;
			transition: 5s background-color;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
			margin: 0 10px;
		}
		input:checked+label {}
		input:checked+label:after {
			margin-left: 23px;
		}
		label:after {
			content: "";
			height: 15px;
			width: 15px;
			border-radius: 50%;
			background-color: #ff4f4f;
			border: 1px solid #fff;
			display: inline-block;
			vertical-align: middle;
			-webkit-transition: 4s margin;
			-moz-transition: 4s margin;
			-ms-transition: 4s margin;
			-o-transition: 4s margin;
			transition: 1s margin;
			margin-top: -7px;
		}
	}
	&__pagination {
		text-align: center;
		.pagination__button {
			margin-bottom: 55px;
		}
		.pagination__list{
			padding-bottom: 50px;
		}
	}
	&__city {
		position: absolute;
		right: 80px;
		top: 57px;
	}
}
