.footer {
	background-color: #f7f7f7;
	box-shadow: 0 -27px 50px rgba(32, 22, 0, 0.2);
/*	margin-top: 170px;*/
	height: 178px;
	padding: 12px 0;
	@media (--mobile) {
		height: auto;
	}
	.wrap {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	a,
	p {
		color: #000;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 3px;
	}
	nav ul {
		width: 100%;
	}
	&__nav {
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			@media (--mobile) {
				display: inline-block;
			}
		}
		&-link {}
	}
	&__social {
		list-style: none;
		display: flex;
		justify-content: space-between;
		@media (--mobile) {
			margin-top: 20px;
			margin-bottom: 25px;
		}
		&-link {
			display: inline-block;
			width: 38px;
			height: 38px;
			font-size: 0 !important;
			background-size: cover;
			&:first-child {
				margin-left: 9px;
			}
			&:last-child {
				margin-right: 9px;
			}
			&--vk {
				background-image: url(../img/vk-off.png);
			}
			&--fb {
				background-image: url(../img/fb-off.png);
			}
			&--inst {
				background-image: url(../img/inst-off.png);
			}
			&--yt {
				background-image: url(../img/youtube-off.png);
			}
			&--tl {
				background-image: url(../img/tlgrm-off.png);
			}
		}
	}
	&__copyright {
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media (--mobile) {
			display: inline-block;
		}
		a,
		p {
			letter-spacing: 4px;
		}
	}
}
