main {
	position: relative;
	margin-top: 222px;
	@media(max-width: 590px) {
		margin-top: 162px;
	}
	.news {
		position: relative;
		z-index: 99;
		
		@media(max-width: 590px) {
			display: none;
		}
		width: calc(12.5vw + 16px);
		padding: 0 15px;
		&--left {
			float: left;
		}
		&--right {
			position: absolute;
			right: 0;
			top: 0;
			float: right;
		}
		&__item {
			color: #000;
			font-size: 10px;
			line-height: 110%;
			letter-spacing: 3px;
			@mixin helvetica-bold;
			display: block;
			height: calc(25vw - 26px);
			&:hover {
				opacity: 0.5;
				color: #000;
			}
		}
		&__img {
			width: 100%;
			margin-bottom: 10px;
		}
		&__text {}
	}
	.item {
		position: relative;
		@mixin helvetica-bold;
		text-transform: uppercase;
		padding: 16px;
		@media(max-width: 590px) {
			padding-top: 40px;
		}
		&:nth-of-type(3) {
			position: relative;
		}
		
		
		&--center-text {
			text-align: center;
			font-family: $f_Arial;
			font-size: 25px;
		}
		&--left-text {
			text-align: left;
			font-size: 15px;
		}
		&--sample-text {
			.item__heading {
				text-align: center;
			}
			.item__desc {
				text-align: left;
			}
		}
		* {
			position: relative;
			z-index: 98;
			line-height: 120%;
		}
		&--calendar {
			/*
			position: absolute;
			top: 0;
			left:  calc(25vw - 26px + 12.5vw + 36px);
			z-index: 99;
*/
			
			a {
				display: block;
				color: #fff;
				text-align: right;
				vertical-align: middle;
				font-size: 20px;
				padding-left: 30%;
				letter-spacing: 4px;
				padding-top: calc(50% - 20px);
			}
		}
		
		&__img{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			z-index: 0;
		}
		
		&__heading {
			font-size: 24px;
			margin-bottom: 5px;
			letter-spacing: 4px;
			@media(max-width: 590px) {
				margin-top: 20px;
				margin-bottom: 25px;
			}
		}
		&__desc {
			font-size: 12px;
			letter-spacing: 2px;
			@media(max-width: 590px) {
				width: calc(100% + 32px);
				background-color: #fff;
				margin-left: -16px;
				margin-right: -16px;
				margin-bottom: -16px;
				padding: 16px;
				font-size: 8px;
				letter-spacing: 2px;
			}
		}
		&__block {
			position: absolute;
			bottom: 16px;
			left: 16px;
			@media(max-width: 590px) {
				width: 100%;
				top: 20px;
				left: 0;
				text-align: center;
			}
		}
		&__act {
			color: #000;
			font-size: 19px;
			text-align: left;
			display: block;
			@media(max-width: 590px) {
				display: none;
			}
		}
		&__link {
			font-size: 11px;
			text-align: left;
			display: block;
			@media(max-width: 590px) {
				text-align: center;
			}
		}
		&:nth-of-type(2n + 1) {
			color: #000;
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.4);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
			}
		}
		&:nth-of-type(2n) {
			color: #fff;
			.item__act {
				color: #fff;
			}
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
			}
			@media(max-width: 590px) {
				.item__desc {
					color: #000;
				}
			}
		}
		&:hover {
			&:before,
			&:after {
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}
}
