.search-results{
	h1{
		text-align: left;
		color: #000;
		@mixin helvetica;
		text-transform: uppercase;
		line-height: 40px;
	}
	section{
		&:after{
			content: '';
			clear: both;
			display: table;
		}
	}
}