.sub-menu {
  display: none;
  width: 289px;
  box-shadow: 0 22px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(246, 246, 246, 0.9);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  z-index: 100;
  &__item {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: #000;
    text-align: left;
  }
  padding-bottom: 20px;
  padding-top: 46px;
  padding-left: 18px;
}
.menu:hover .sub-menu {
  display: block;
}
.menu {
  position: relative;
}
