$f_Arial: Arial, sans-serif;

$circle:'Circe', Helvetica, Arial, sans-serif;

$c_okhra: #A56300;
$c_lazur: #006363;
$c_purpur: #8C003D;

@custom-media --tablet (width <= 780px);
@custom-media --mobile (width <= 590px);
