<main class="music">

	<div class="news news--left">

		<a href="" class="news__item">
			<img src="assets/img/flamingo-small.jpg" alt="" class="news__img">
			<p class="news__text">новости вот такие новости новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новости</p>
		</a>
		<a href="" class="news__item">
			<img src="assets/img/flamingo-small.jpg" alt="" class="news__img">
			<p class="news__text">новости вот такие новости новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новости</p>
		</a>
	</div>

	<div class="wrapper clearfix">

		<div class="block block--heading block--helvetica">
		
			<img src="assets/img/flamingo-small.jpg" alt="" class="block__img--big">
			<div class="block__type">трекбайтрек</div>
			<p class="block__text--big">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.</p>
			<div class="block__social">
				<a href="" class="social-link"></a>
				<a href="" class="social-link"></a>
				<a href="" class="social-link"></a>
				<a href="" class="social-link"></a>
				<a href="" class="social-link"></a>
			</div>
		</div>

		<div class="block block--georgia block--top-half-border">
			<p class="block__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
			</p>
		</div>

		<div class="block block--helvetica block--top-border block--bottom-border">
			<p class="block__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
			</p>
		</div>

		<div class="block block--link">
			<p class="block__text">Далеко-далеко за словесными горами </p>
			<a href="" class="block__link">“в стране гласных и согласных”</a>
		</div>

		<div class="block block--image block--georgia block--okhra">
			<div class="block__img-wrap">
				<img src="assets/img/flamingo-small.jpg" alt="" class="block__img">
			</div>
			<p class="block__text">
				Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель
			</p>
		</div>


		<div class="block block--two-images block--helvetica block--lazur">
			<div class="block__img-wrap block__img-wrap--fade">
				<img src="assets/img/flamingo.jpg" alt="" class="block__img">
			</div>
						<div class="block__img-wrap">
				<img src="assets/img/flamingo-small.jpg" alt="" class="block__img">
			</div>
			<div class="block__right-text">
			<p class="block__text">Далеко-далеко</p>
			<a href="" class="block__link">“в стране гласных и согласных”</a>
		</div>	
		</div>

		<div class="block block--big-image block--georgia block--purpur">
			<div class="block__img-wrap block__img-wrap--fade">
				<img src="assets/img/flamingo-small.jpg" alt="" class="block__img--big">
				<div class="block__img-heading">Далеко-далеко за словесными горами
				</div>
			</div>
			<p class="block__text">
				Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель
			</p>
		</div>

		<div class="block block--music block--georgia">
			<p class="block__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
			</p>
			<div class="music-plagin">
						<img src="assets/img/flamingo.jpg" alt="">
			</div>
		</div>

		<div class="preview">

			<div class="item item--discover">
				<div class="item__heading">mana island</div>
				<div class="item__desc">одна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла бла</div>
				<div class="item__block">
					<div class="item__act">узнать что</div>
					<a href="#" class="item__link">музыканты слушают</a>
				</div>
			</div>
			
			<div class="item item--see">
				<div class="item__heading">
					<p class="who">mana island</p>
					<p class="when">16.09.2016</p>
					<p class="where">винзавод</p>
				</div>
				<div class="item__block">
					<div class="item__act">смотреть</div>
					<a href="#" class="item__link">трекбайтрек</a>
				</div>
			</div>
			
			<div class="item item--discover">
				<div class="item__heading">
					<p class="who">mana island</p>
					<p class="when">16.09.2016</p>
					<p class="where">винзавод</p>
				</div>
				<div class="item__block">
					<div class="item__act">узнать что</div>
					<a href="#" class="item__link">музыканты смотрят</a>
				</div>
			</div>

		</div>
	</div>

	<div class="news news--right">
		<a href="" class="news__item">
			<img src="assets/img/flamingo-small.jpg" alt="" class="news__img">
			<p class="news__text">новости вот такие новости новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новости</p>
		</a>
		<a href="" class="news__item">
			<img src="assets/img/flamingo-small.jpg" alt="" class="news__img">
			<p class="news__text">новости вот такие новости новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новости</p>
		</a>
	</div>

</main>
