<footer>
<div class="footer-container">
	
	<a href="#" class="zeens-heading">Последние выпуски зинов</a>
	
	<div class="zeens-slider">
		<div class="slide">		<img src="assets/img/flamingo-small.jpg" alt="" ></div>
		<div class="slide">		<img src="assets/img/flamingo-small.jpg" alt="" ></div>
		<div class="slide">		<img src="assets/img/flamingo-small.jpg" alt="" ></div>
	</div>
	
	<nav>
		<ul class="down-menu clearfix">
			<li class="down-menu__item"><a href="">О нас</a></li>
			<li class="down-menu__item"><a href="">Авторы</a></li>
			<li class="down-menu__item"><a href="">Проекты</a></li>
						<li class="down-menu__item"><a href="">Рекламодателям</a></li>
		</ul>
	</nav>
	
	<div class="footer-row clearfix">
		<div class="copyright">
			<p>
			© 2010–2015 The Village. Городской интернет-сайт The Village.
</p>
<p>
Новости Москвы, Санкт-Петербурга, Киева. Люди, места, события. Использование материалов The Village разрешено только с предварительного согласия правообладателей. 
Все права на картинки и тексты в разделе Новости принадлежат их авторам.
			</p>
		</div>
		<div class="social-block">
			<a href="" class="social-block__link"></a>
			<a href="" class="social-block__link"></a>
			<a href="" class="social-block__link"></a>
			<a href="" class="social-block__link"></a>
			<a href="" class="social-block__link"></a>
		</div>
	</div>
	</div>
</footer>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="assets/js/scripts.js"></script>
