<footer class="footer">
  <div class="wrap">
    <nav class="footer__nav">
      <ul>
        <li><a href="#" class="footer__nav-link">о нас</a></li>
        <li><a href="#" class="footer__nav-link">авторы</a></li>
        <li><a href="#" class="footer__nav-link">проекты</a></li>
        <li><a href="#" class="footer__nav-link">реклама</a></li>
        <li><a href="#" class="footer__nav-link">архив</a></li>
      </ul>
    </nav>

    <ul class="footer__social">
      <li><a href="#" class="footer__social-link footer__social-link--fb">facebook</a></li>
      <li><a href="#" class="footer__social-link footer__social-link--inst">instagramm</a></li>
      <li><a href="#" class="footer__social-link footer__social-link--vk">vkontakte</a></li>
      <li><a href="#" class="footer__social-link footer__social-link--yt">youtube</a></li>
      <li><a href="#" class="footer__social-link footer__social-link--tl">telegram</a></li>
    </ul>

    <div class="footer__copyright">
      <a href="#">все выпуски зинов</a>
      <p>© 2017 сторона</p>
      <a href="mailto:info@storona.ru">info@storona.ru</a>
    </div>

    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/scripts.js"></script>
