<header>
	
	<a href="" class="logo"><img src="assets/img/logo.png" alt=""></a>
	<div class="logo-desc">издание об отечественной музыке</div>
	
	<nav>
		<ul class="main-menu clearfix">
			<li class="main-menu__item"><a class="date">среда 07/16</a>
			<ul class="sub-menu">
				<li class="sub-menu__item"><a href="">Концерт</a></li>
				<li class="sub-menu__item"><a href="">Концерт</a></li>
				<li class="sub-menu__item"><a href="">Концерт</a></li>
				<li class="sub-menu__item"><a href="">Концерт</a></li>
			</ul>
			
			</li>
			<li class="main-menu__item"><a href="">Музыка</a>
			<ul class="sub-menu">
				<li class="sub-menu__item"><a href="">Релизы</a></li>
				<li class="sub-menu__item"><a href="">Интервью</a></li>
				<li class="sub-menu__item"><a href="">Плейлист</a></li>
				<li class="sub-menu__item"><a href="">Треклист</a></li>
				<li class="sub-menu__item"><a href="">Плеер</a></li>
				<li class="sub-menu__item"><a href="">Музыканты смотрят</a></li>
				<li class="sub-menu__item"><a href="">Релизы</a></li>
			</ul>
			
			</li>
			<li class="main-menu__item"><a href="">Сцена</a>
			<ul class="sub-menu">
				<li class="sub-menu__item"><a href="">Концерты Недели</a></li>
				<li class="sub-menu__item"><a href="">Календарь с конциками</a></li>
				<li class="sub-menu__item"><a href="">Фотоотчет</a></li>
				<li class="sub-menu__item"><a href="">Видеоотчет</a></li>
				<li class="sub-menu__item"><a href="">Фотоотчет</a></li>
				<li class="sub-menu__item"><a href="">На репетиции</a></li>
				<li class="sub-menu__item"><a href="">Неизвестный слушатель</a></li>
				<li class="sub-menu__item"><a href="">Полароид-обзор</a></li>
			</ul>
			
			</li>
			<li class="main-menu__item"><a href="">От стороны</a>
			
						<ul class="sub-menu">
				<li class="sub-menu__item"><a href="">			Литература </a></li>
				<li class="sub-menu__item"><a href="">Вещи из дома</a></li>
				<li class="sub-menu__item"><a href="">5 альбомов</a></li>
				<li class="sub-menu__item"><a href="">Родители</a></li>
				<li class="sub-menu__item"><a href="">Взгляд в прошлое</a></li>
				<li class="sub-menu__item"><a href="">Хорошая погода со Сторми Уэзерманом</a></li>
				<li class="sub-menu__item"><a href="">Из Предложки</a></li>
				<li class="sub-menu__item"><a href="">Перспективные новички</a></li>
			</ul>
				
			</li>
			<li class="main-menu__item">
				<form action=""><input type="search" id="search">
				<label for="search">Поиск</label></form>
			</li>
		</ul>
	</nav>
	
</header>