<main>
	<div class="wrap block-wrap">

		<div class="block block--music">
			<div class="block__title">музыка</div>
			<div class="block__wrap">
				<div class="scroll">
					<a href="" class="item">
						<img src="assets/img/pinkshinyultrablast.png" alt="" class="item__img">
						<div class="item__desc item__desc--black">
							<p class="item__title">Релизы года </p>
							<p class="item__name">на «Стороне»</p>
						</div>
					</a>
					<a href="" class="item">
						<img src="assets/img/audioprestuplenyue.png" alt="" class="item__img">
					</a>
					<a href="" class="item">
						<img src="assets/img/pixelord.jpg" alt="" class="item__img">
						<div class="item__desc item__desc--black">
							<p class="item__title">Видео дня</p>
							<p class="item__name">Pixelord — Divisor</p>
						</div>
					</a>
					<a href="" class="item">
						<img src="assets/img/luna.jpg" alt="" class="item__img">
					</a>
				</div>
			</div>
		</div>
		<div class="block block--scene">
			<div class="block__title">сцена</div>
			<div class="block__wrap">
				<div class="scroll">
					<a href="" class="item">
						<img src="assets/img/kometa.jpg" alt="" class="item__img">
						<div class="item__desc item__desc--white">Итоги года подвёл Глеб Лисичкин, сооснователь «Kometa Music» и экс-журналист «Афиши-Волны».</div>
					</a>
					<a href="" class="item">
						<img src="assets/img/poster.png" alt="" class="item__img">
					</a>
					<a href="" class="item">
						<img src="assets/img/longarm.jpg" alt="" class="item__img">
						<div class="item__desc item__desc--black">
							<p class="item__title">Концерты недели</p>
							<p class="item__name">Soviet Soviet, Кружок</p>
						</div>
					</a>
				</div>
			</div>
			<div class="pagination">
				<button class="pagination__button"></button>
				<ul class="pagination__list">
					<li>
						<a href="" class="pagination__link pagination__link--prev"></a>
					</li>
					<li><a href="" class="pagination__link">1</a></li>
					<li><a href="" class="pagination__link">2</a></li>
					<li><a href="" class="pagination__link">3</a></li>
					<li><a href="" class="pagination__link">4</a></li>
					<li><a href="" class="pagination__link">5</a></li>
					<li><a href="" class="pagination__link pagination__link--next">→</a></li>
				</ul>
			</div>
		</div>
		<div class="block block--storona">
			<div class="block__title">сторона</div>
			<div class="block__wrap">
				<div class="scroll">
					<a href="" class="item">
						<img src="assets/img/past.jpg" alt="" class="item__img">
						<div class="item__desc item__desc--white">В рамках «взгляда в прошлое» ищем дореволюционный дух рождества, изъятый из русской традиции.</div>
					</a>
					<a href="" class="item">
						<img src="assets/img/pasha.png" alt="" class="item__img">
						<div class="item__desc item__desc--white">Паша Жданов из «Ады» составил ленивый плейлист для тех, кто не может оторваться от дивана.</div>
					</a>
					<a href="" class="item">
						<img src="assets/img/rafinad.jpg" alt="" class="item__img">
					</a>
					<a href="" class="item">
						<img src="assets/img/elektroproekt.jpg" alt="" class="item__img">
					</a>
				</div>
			</div>
		</div>
	</div>
</main>
