<main>

	<div class="news news--left">

		<a href="" class="news__item">
			<img src="assets/img/flamingo-small.jpg" alt="" class="news__img">
			<p class="news__text">новости вот такие новости новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новости</p>
		</a>
		<a href="" class="news__item">
			<img src="assets/img/flamingo-small.jpg" alt="" class="news__img">
			<p class="news__text">новости вот такие новости новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новости</p>
		</a>
	</div>

	<div class="wrapper clearfix">
		<div class="item item--center-text item--music">

			<img src="assets/img/flamingo.jpg" alt="" class="item__img">

			<div class="item__heading">mana island</div>
			<div class="item__desc">одна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла бла</div>
			<div class="item__block">
				<a href="#" class="item__act">читать</a>
				<a href="#" class="item__link">трекбайтрек</a>
			</div>

		</div>
		<div class="item item--calendar">
			<img src="assets/img/flamingo.jpg" alt="" class="item__img">
			<a href="#">
			Календарь концертов
</a>
		</div>
		<div class="item item--center-text item--storona ">
			<img src="assets/img/flamingo.jpg" alt="" class="item__img">
			<div class="item__heading">

				<p class="who">mana island</p>
				<p class="when">16.09.2016</p>
				<p class="where">винзавод</p>

			</div>

			<div class="item__block">
				<a href="#" class="item__act">слушать</a>
				<a href="#" class="item__link">трекбайтрек</a>
			</div>

		</div>
		<div class="item item--left-text item--music">
			<img src="assets/img/flamingo.jpg" alt="" class="item__img">
			<div class="item__heading">mana island</div>
			<div class="item__desc">одна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла блаодна из самых важных воронежских групп бла бла бла</div>
			<div class="item__block">
				<a href="#" class="item__act">узнать что</a>
				<a href="#" class="item__link">музыканты слушают</a>
			</div>

		</div>
		<div class="item item--sample-text item--stage">
			<img src="assets/img/flamingo.jpg" alt="" class="item__img">
			<div class="item__heading">

				<p class="who">mana island</p>
				<p class="when">16.09.2016</p>
				<p class="where">винзавод</p>

			</div>
			<div class="item__block">
				<a href="#" class="item__act">смотреть</a>
				<a href="#" class="item__link">трекбайтрек</a>
			</div>

		</div>
		<div class="item item--center-text item--stage">
			<img src="assets/img/flamingo.jpg" alt="" class="item__img">
			<div class="item__heading">

				<p class="who">mana island</p>
				<p class="when">16.09.2016</p>
				<p class="where">винзавод</p>

			</div>
			<div class="item__block">
				<a href="#" class="item__act">узнать что</a>
				<a href="#" class="item__link">музыканты смотрят</a>
			</div>

		</div>
	</div>

	<div class="news news--right">

		<a href="" class="news__item">
			<img src="assets/img/flamingo-small.jpg" alt="" class="news__img">
			<p class="news__text">новости вот такие новости новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новости</p>
		</a>
		<a href="" class="news__item">
			<img src="assets/img/flamingo-small.jpg" alt="" class="news__img">
			<p class="news__text">новости вот такие новости новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новостиновости вот такие новости</p>
		</a>
	</div>

</main>
