<main>
	<div class="wrap wrap--text">
		<h2>Все выпуски зинов</h2>
		<p>Что до российской сцены, то «здесь в моде серый цвет, цвет времени и бревен». Появилось несколько хороших групп, распалось несколько замечательных групп, открылись площадки, закрылись площадки, вышло не меньше сотни отличных пластинок, лишь малая толика из которых добралась до слушателей, – в общем, как и в предыдущие годы всем на всё насрать. </p>
		<div class="magazine">
			<a href="#" class="magazine__item">
				<img src="assets/img/magazine.png" alt="">
			</a>
			<a href="#" class="magazine__item">
				<img src="assets/img/magazine.png" alt="">
			</a>
			<a href="#" class="magazine__item">
				<img src="assets/img/magazine.png" alt="">
			</a>
		</div>
	</div>
</main>
