<main>
	<div class="wrap wrap--text">
		<h3>Все выпуски зинов</h3>
		<div class="slider-container">
			<ul class="slider">
				<li>
					<a href="" class="slider__item showing">
						<img src="assets/img/magazine.png" alt="">
					</a>
				</li>
				<li>
					<a href="" class="slider__item">
						<img src="assets/img/magazine.png" alt="">
					</a>
				</li>
				<li>
					<a href="" class="slider__item">
						<img src="assets/img/magazine.png" alt="">
					</a>
				</li>
			</ul>
			<button class="slider__button slider__button--prev" id="previous"></button>
			<button class="slider__button slider__button--next" id="next"></button>
		</div>
	</div>
</main>
