<main>
	<div class="wrap wrap--text">
		<h2>О нас</h2>
		<p>Что до российской сцены, то «здесь в моде серый цвет, цвет времени и бревен». Появилось несколько хороших групп, распалось несколько замечательных групп, открылись площадки, закрылись площадки, вышло не меньше сотни отличных пластинок, лишь малая толика из которых добралась до слушателей, – в общем, как и в предыдущие годы всем на всё насрать. Наше общество проходит важные точки бифуркации, но вяло реагирует на них; только если алгоритм фейсбука не в силах игнорировать количество репостов (по части музыки это, например, Outline и последовавшая серия отмен мероприятий Армы) – и, в общем, мы имеем ту сцену, которую заслуживаем. Я не жалуюсь, я и сам в этом году выпустил полдюжины релизов, которыми искренне горжусь, и в следующем году выпустим не меньше, но чрезвычайно обидно, что все хорошие начинания слишком быстро упираются в весьма низкий потолок.</p>
	</div>
</main>
